


<div class="row" >
    <div class="col" *ngFor="let p of planeten">
        <a routerLink="/detail/{{p.id}}" class="d-flex flex-column align-items-center">
            <img 
            (mouseover)="vergroessern($event)"
            (mouseout)="normal($event)"
            width="70%" src="../../assets/images/{{p.image}}" alt="Planet Image">
            <br>
            {{p.id}}. {{p.name}}
        </a>
    </div>
</div>







<!-- <ul class="planeten">
    <li *ngFor="let planet of planeten">
        <a routerLink="/detail/{{planet.id}}">
            <span class="badge">{{planet.id}}</span> {{planet.name}}
        </a>
    </li>
</ul> -->


